.root {
    -fx-background-color: dimgrey;
}

.welcome {
    -fx-font-size: 14pt;
}

.mylabels {
    -fx-font-weight: bold;
}

.button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: radial-gradient(radius 180%, aqua, derive(skyblue, -30%), derive(black, 30%));
}
